<div class="row">
    <div class="col-md-6">
        {{filter-one-dimension options=brands label='Brands' selectedOption=selectedBrand}}
    </div>

    <div class="col-md-6">
        {{#if carsNumber}}
            <h1>Cars picked: {{carsNumber}}</h1>
        {{else}}
        {{/if}}
    </div>
</div>

<hr class="top-divider">

<div class="row">
    <div class="col-md-12">
        {{#each cars as |car|}}
            {{#car-list-item car=car}}
                <button class="btn btn-success" {{action 'removeCar' car}}>Remove this car</button>
            {{/car-list-item}}
        {{/each}}
    </div>
</div>

{{outlet}}
