{{#if hasBrands}}
    <div class="row">
        <div class="col-md-6">
            {{filter-one-dimension options=brands label='Brands' selectedOption=selectedBrand}}
        </div>

        <div class="col-md-6">
            {{#if carsNumber}}
                <h1>Cars picked: {{carsNumber}}</h1>
            {{else}}
            {{/if}}
        </div>
    </div>

    <hr class="top-divider">
{{/if}}

<div class="row">
    <div class="col-md-12">
        {{#each cars as |car|}}
            {{#car-list-item car=car}}
                <button class="btn btn-success" {{action 'removeCar' car}}>Remove this car</button>
            {{/car-list-item}}
        {{else}}
            <h3>Here will be all your cars. Choose one from our {{link-to 'marketplace' 'cars.index'}}!</h3>
        {{/each}}
    </div>
</div>

{{outlet}}
