<div class="row">
    <div class="col-md-6">
        {{filter-one-dimension options=brands label='Brands' selectedOption=selectedBrand}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{#each model as |car index|}}
            <div class="row top15 cars-list-row">
                <div class="col-md-4">
                    <img src="{{car.image}}" alt="" class="car-image-thumbnail" id="car-image-thumbnail-{{index}}">

                    {{#pop-over for=(concat "car-image-thumbnail-" index) on="hover" flow="popup" class='left-shifted'}}
                        <img src="{{car.image}}" alt="" class="car-image-full">
                    {{/pop-over}}
                </div>

                <div class="col-md-1">
                    {{car.brand}}
                </div>

                <div class="col-md-5">
                    {{car.description}}
                </div>

                <div class="col-md-2">
                    <button class="btn btn-success">Choose this car</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{outlet}}
