<div class="row">
    <div class="col-md-6">
        {{filter-one-dimension options=brands label='Brands' selectedOption=selectedBrand}}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {{#each model as |car|}}
            <div class="row top15 cars-list-row">
                <div class="col-md-4">
                    {{image-preview imageURI=car.image}}
                </div>

                <div class="col-md-1">
                    {{car.brand}}
                </div>

                <div class="col-md-5">
                    {{car.description}}
                </div>

                <div class="col-md-2">
                    <button class="btn btn-success">Choose this car</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{outlet}}
