{{#if hasBrands}}
    <div class="row">
        <div class="col-md-6">
            {{filter-one-dimension options=brands label=(t 'cars.index.filter-label') selectedOption=selectedBrand}}
        </div>
    </div>

    <hr class="top-divider">
{{/if}}

<div class="row">
    <div class="col-md-12">
        {{#each model as |car|}}
            {{#car-list-item car=car}}
                {{#if car.isChosen}}
                    <div class="text-success">
                        <h4>{{t 'car-list-item.car-selected-message'}}</h4>
                    </div>
                {{else}}
                    <button class="btn btn-success" {{action 'toggleSelectedForCar' car}}>
                        {{t 'car-list-item.choose-car-button-label'}}
                    </button>
                {{/if}}
            {{/car-list-item}}
        {{else}}
            <h3>{{t 'cars.index.empty-cars-list'}}</h3>
        {{/each}}
    </div>
</div>

{{outlet}}
